body {
    margin: 0;
    background-color: #A59B59;
    font-family: "Ubuntu mono", monospace;
    /* font-size: 1.2rem; */
}

@media screen and (orientation: landscape) {
    #main {
        background-color: lightseagreen;
        margin: 0;
        width: 100vw;
        height: 100vh;
    }
}

@media screen and (orientation: portrait) {
    #main {
        width: 100vw;
        height: 100vw;
        margin: 0;
        background-color: lightseagreen;
    }
}

#wait {
    background-color: lightblue;
    width: 100%;
    height: calc(100%/10);
    display: grid;
    grid-template-columns: repeat(5,1fr);
}


h1 {
    text-justify: center;
    vertical-align: middle;
    font-size: 8mvw;
    grid-column: 1/2;
    padding-left: 2rem;
}

#counter {
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 5mvw;
    text-justify: center;
    vertical-align: middle;
    text-align: center;
}

#disksNumber {
    grid-column: 5/6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: mediumaquamarine;
}

button#restart {
    width: 60%;
    height: 30%;
}

input {
    background-color: greenyellow;
    width: 50%;
    height: 30%;
}

button#submit {
    width: 60%;
    height: 30%;
}

#middle {
    height: calc((100%/10)*8);
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    background-color: lightblue;
}

#towers {
    width: 80%;
    height: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: lightblue;
}

.towersBase {
    background-color: lightblue;
    height: 100%;
    width: calc(100%/3);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
}

#start {
    width: 7%;
    height: 95%;
    background-color: saddlebrown;
    border: 0.15rem solid black;
    border-bottom: none;
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#offset {
    width: 7%;
    height: 95%;
    background-color: saddlebrown;
    border: 0.15rem solid black;
    border-bottom: none;
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#end {
    width: 7%;
    height: 95%;
    background-color: saddlebrown;
    border: 0.15rem solid black;
    border-bottom: none;
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#footer {
    height: calc(100%/20);
    width: 100%;
    background-color: lightblue;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#base {
    box-sizing: border-box;
    height: 100%;
    width: 90%;
    background-color: saddlebrown;
    border: solid 0.20rem black; 
    border-radius: 1rem;   
}

.disks {
    background-color: goldenrod;
    border: 2px solid black;
    border-radius: 0.25rem;
    height: 3.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}